.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerHorizontal {
  display: flex;
  flex-direction: row;
  margin: 1rem 0;
  justify-content: space-around;
  border: solid #fafafa;
}
.containerVertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid #fafafa;
}
.containerVertical button {
  margin: .5rem 0;
}

.statusesContainer {
  display: flex;
  justify-content: space-between;
}
.container > .ant-select-selector {
  margin: 0 .5rem;
}